<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wallet Manager</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <script src="https://cdn.tailwindcss.com"></script>

    <script>
      tailwind.config = {
        darkMode: "class",
        theme: {
          extend: {
            fontFamily: {
              // This overrides the default sans-serif font
              sans: ['"Plus Jakarta Sans"', "sans-serif"],
            },
          },
        },
      };
    </script>

    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="/static/js/themes.js"></script>
  </head>
  <body
    class="bg-gray-100 text-gray-800 font-sans p-6 dark:bg-gray-900 dark:text-gray-100 transition-colors duration-200"
  >
    <div class="max-w-5xl mx-auto">
      {% include "partials/navbar.html" %} {% block content %} {% endblock %}
    </div>
  </body>
</html>
